*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner{
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,75), rgba(0,0,0,0.65)), url("Images/bedroomdesign.webp");
    background-size: cover;
    background-repeat: no-repeat;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;

}
.logo{
    width: 100px;
    cursor: pointer;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px;
}

.img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid1{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.grid2 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;
}

.grid3{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 7;
}

.grid4 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 7;
}

a{
    color: #fff;
    text-decoration: none;
}

button{
    width: 100px;
    padding: 15px 0;
    position: relative;
    top: 50px;
    right: 90px;
    border-radius: 20px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    overflow: hidden;
}
