{% load static %}
<html>

<head>
    
    <title>Real Estate</title>
    
    <link rel="stylesheet" href="{% static 'estateImages\style.css' %}">

</head>

<body>
    
    <div class="banner">
        
        <div class="navbar">
            
            <img class="logo" src= "{% static 'estateImages\Images\LogoMakr-3jrS4H.png' %}" alt="logo">
                
            <ul>
                    <li><a href="">Home</a></li>
                    
                    <li><a href="">Gallery</a></li>
                    
                    <li><a href="">Contact</a></li>
            </ul>
        
        </div>
        
        <div class="content">

            <h1>Trouvez la maison de vos rêves</h1>

            <p>Le meilleur moment pour acheter une maison, c'est maintenant</p>

            <div>
                
                <button type="submit"><span></span>Sign Up</button>
                
                <button type="submit"><span></span>Log In</button>
            
            </div>
        
        </div>
    </div>
</body>
</html>