{% load static %}
<html>

<head>
    
    <title>Real Estate</title>
    
    <link rel="stylesheet" href="{% static 'estateImages\style.css' %}">

</head>

<body>
    
    <div class="banner">
        
        <div class="navbar">
            
            <a href="{% url 'index'  %}"><img class="logo" src= "{% static 'estateImages\Images\LogoMakr-3jrS4H.png' %}" alt="logo"></a>

        
        </div>
        
        <div class="content">

            <h1>Vous cherchez une maison</h1>

            <p>Le meilleur moment pour trouver une maison, c'est maintenant</p>

            <div>
                
                <a href="{% url 'signup'  %}"><button type="submit"><span></span>Se inscrire</button></a>
                
                <a href="{% url 'login'  %}"><button type="submit"><span></span>Se connecter</button></a>
            
            </div>
        
        </div>
    </div>
</body>
</html>