{% load static %}
<html lang="en">

<head>
    
    <title>Real Estate</title>
    
    <link rel="stylesheet" href="{% static 'estateImages\styleLog.css' %}">

</head>

<body>
    <div class="banner">
        
        <div class="navbar">
            
            <a href="{% url 'index'  %}"><img class="logo" src= "{% static 'estateImages\Images\LogoMakr-3jrS4H.png' %}" alt="logo"></a>
            
            <div class="login">
                
                <h1>Connexion</h1>
                <form action="" method="post">
                    
                    {{form.as_p}}
                    
                    {% csrf_token %}
                    
                    <button type="submit"><span></span>Se connecter</button>

                </form>
            </div>
        </div>        
    
    </div>        
        
</body>

</html>